.navigation {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: aliceblue;
}

.navigation__list {
  display: flex;
  justify-content: space-evenly;
}

.navigation__list-item {
  padding: 1.5rem 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation__list-item--active {
  background-color: bisque;
}

.navigation__list-item {
  border-left: 1px solid black;
}

.navigation__link {
  color: black;
  background: transparent;
  border: none;
  padding: 0;
}

.navigation__list-item:hover {
  background-color: honeydew;
}
